/* Global header styles */

header {
  background-color: var(--bs-black);
  color:var(--bs-white);
}
section.global-header{
  display:flex;
}
section.global-header .site-title{
  text-decoration: none;
  color:var(--bs-white);
  margin-right:auto !important;
}

/* .global-nav{
  display:none;
} */

.global-nav:has(#global-nav-toggle[aria-expanded="true"]) {
  display: block;
}


#global-nav-toggle{
  background-color: inherit;
  border:none;
  border-left:1px solid var(--bs-gray-700);
  color:inherit;
  padding:auto;
  height:100%;
  font-size: 16px;
  text-transform: uppercase;
}

.icon{
  color:white;
  width:20px;
  height:17px;
  background-color: #0000;
}

.search-icon{
  text-decoration: none;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  height:300px;
}

.main-image img{
  flex-shrink: 0;
  min-width: 100%;
  min-height:100%;
}

.main-image-overlay{
  display:flex;
  background-color: #0008;
  color:white;
  z-index: 2;
  position: absolute;
  width:100%;
  height:70px;
  transform:translate(0,-70px);
}
.main-image-overlay h2{
  margin: auto 20px;
}
.main-image-overlay p{
  font-size:0.8em;
  margin: auto 0;
}
#park-header{
  display:flex;
  background-color: var(--bs-black);
  justify-content: center;
}
#park-header a{
  text-decoration: none;
  color:white;
  height: 70px;
  text-align: center;
  width:80px;
  text-transform: uppercase;
  font-size:0.65em;
  padding: 10px 10px;
  transition:0.3s
}
#park-header a:hover{
  background-color: var(--bs-gray-600);
}

#global-nav-toggle__open {
  display: flex;
  align-items: center;
}

#global-nav-toggle__close {
  display: flex;
  max-height:0;
  overflow:hidden;
  align-items: center;
}

#global-nav-toggle__open.hidden, #global-nav-toggle__close.hidden {
  max-height:0;
  overflow:hidden;
}

#global-nav-toggle[aria-expanded="true"] > #global-nav-toggle__open {
  max-height:0;
  overflow:hidden;
}
#global-nav-toggle[aria-expanded="true"] > #global-nav-toggle__close{
  max-height:inherit;
}

/* .global-nav__submenu {
  display:none;
} */

/* desktop */
/* ul.global-nav__list {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;

} */

ul.global-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ul.global-nav__list li div{
  padding: 10px 20px;
} */

ul.global-nav__list li:has(.global-nav__split-button) {
  width:100%;
  background-color:#474747;
}
ul.global-nav__list li .global-nav__split-button{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  background-color:#474747;
}
ul.global-nav__list li .global-nav__split-button a{
  padding: 10px 20px;
  text-decoration: none;
  color:var(--bs-white);
}
ul.global-nav__list li .global-nav__split-button button {
  background-color: inherit;
  border:none;
  color:var(--bs-white);
  /* padding: 10px 20px; */
  padding: 10px 10px;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 1px solid var(--bs-gray-700);
  aspect-ratio: 1;
  /* width:30px;
  height:30px; */
}
ul.global-nav__list li .global-nav__split-button button:hover {
  background-color: var(--bs-gray-800);
}
ul.global-nav__list li .global-nav__split-button button svg {
  width:20px;
  aspect-ratio: 1;
  transform: rotate(-90deg);
  transition:0.2s;
}
ul.global-nav__list li .global-nav__split-button button[aria-expanded="true"] svg{
  transform: rotate(0deg);
}

h2.global-nav__section-heading {
  color: #7db4cb;
}

ul.global-nav__submenu {
  list-style-type: none;
  padding: 0;
  /* animation-name: close;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow:hidden; */
}

ul.global-nav__submenu li {
  padding: 10px 20px;
  background-color: var(--bs-black);
}

ul.global-nav__submenu li a {
  text-decoration: none;
  color: var(--bs-white);
}
ul.global-nav__submenu li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .global-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .global-nav__split-button button {
    display:none;
  }

  ul.global-nav__list li:has(.global-nav__split-button) {
    background-color:inherit;
  }

  .global-nav__list div.global-nav__split-button {
    background-color:inherit !important;
    font-size: 1.3em;
  }

  ul.global-nav__list li {
    font-size: 0.9em;
  }
}